@import
url("https://fonts.googleapis.com/css?family=Oswald&amp;subset=latin-ext");

body{
  font-family: Oswald, sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
  background-color: #e8f2f9;
}

*{
  box-sizing: border-box;
}

/*radial-gradient - powstanie gradient */
header{
  background-image: radial-gradient(circle, #67d6c1, #67d1bb, #7ac5aa, #bcb7fe, #f66cd9);
  height: 85px;
  Width: 100%;
  position: sticky; top: 0.1px;
  z-index: 10;
}

/*list-style-type - rodzaj wypunktowania, np. od kropki*/
nav ul{
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
display: inline-block;
position: relative;
width: 150px
}

nav ul li:hover > ul {
  display: block;
  position: absolute;
  z-index: 1;
}

nav ul li a {
text-decoration: none;
color: #e00986;
line-height: 80px;
padding 0 10px;
display: block;
}

/*zmieniono 2s kolor na biały jak się najedzie na link */
nav ul li a:hover {
  color: #fff;
  transition-duration: 2s;
}

.nav-logo{
  width: auto;
  float: left;
  color: darkblue;
  font-size: 45px;
  margin: 0;
  padding-left: 25px;
  line-height: 80px;
}
.clear {
  clear: both;
}

.hero-section {
  background-image: url('https://images.unsplash.com/photo-1462392246754-28dfa2df8e6b?ixlib=rb-0.3.5&s=7576b497c9b9d27cf7ce652945e94c29&auto=format&fit=crop&w=1500&q=80');
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  height: 200px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.slogan {
width: 50%;
position: absolute;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
}
.slogan h2 {
text-transform: uppercase;
color: #f4ebeb;
padding: 10px 20px;
text-align: center;
}
.slogan h2 span {
color: #e00986;
}
.yellow-text {
font-size: 40px;
color: #f97801!important;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 20px;
}
.about-section {
  width: 100%;
  background-color: orange;
}

.about-section h2 {
  text-align: center;
  padding: 10px;
  font-size: 30px;
  margin: 0;
  }

.about-section p{
width: 95%;
margin-left: auto;
margin-right: auto;
padding-bottom: 5px;
}

.about-section img {
    margin: 10px auto 30px;
    display: block;
  }
.gallery-section {
  width: 100%;
  margin: 0 auto;
  }

  .gallery-section h2 {
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #66b8c4;
  }

  .gallery-image {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }


  .gallery-image img {
    margin: 10px 10px;
    border: 8px solid orange;
    display: flex;
    width: 450px;
    height: 300px;
    object-fit: cover;
  }

  .icon-section {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      margin: 40px auto;
    }

    .icon {
      display: block;
      width: 150px;
      background-color: white;
      -webkit-box-shadow: 4px 4px 24px 1px rgba(102,184,196,0.75);
      -moz-box-shadow: 4px 4px 24px 1px rgba(102,184,196,0.75);
      box-shadow: 4px 4px 24px 1px rgba(102,184,196,0.75);
    }

    .icon i {
      font-size: 50px;
      color: #e00986;
      padding: 15px;
    }
      .icon p {
        font-size: 30px;
        }
    .icon p span {
      font-size: 18px;
    }
footer {
  background-image: radial-gradient(circle, #67d6c1, #67d1bb, #7ac5aa, #bcb7fe, #f66cd9);
  text-align: center;
  padding: 10px;
  }
  footer a {
    text-decoration: none;
    color: #e00986;
  }

.contact-section {
  max-width: 500px;
  padding: 0;
  margin: 30px auto;
  -webkit-box-shadow: 4px 4px 24px 1px rgba(224,9,134,0.75);
  -moz-box-shadow: 4px 4px 24px 1px rgba(224,9,134,0.75);
  box-shadow: 4px 4px 24px 1px rgba(224,9,134,0.75);
}

form {
  margin: 0 auto;
  width: 350px;
  text-align: center;
}

label {
  font-size: 15px;
  display: block;
  text-align: center;
  padding: 5px;
  margin: 5px auto;
}

input {

  display: block;
  margin: 0 auto;
  height: 30px;
  padding: 5px;
  border: 1px solid #66b8c4;
  font-size: 13px;
  }

  textarea {
    height: 50px;
    width: 300px;
    border: 1px solid #66b8c4;
    display: block;
    margin: 0 auto;
    font-size: 13px;
    }

    input[type="submit"], [type="reset"] {
      margin: 5px auto;
      cursor: pointer;
      max-width: 100px;
      height: 30px;
      font-size: 13px;
      background: orange;
      display: inline-block;
      border: 1px solid #e00986;
    }
.slider-section {
  background-image: radial-gradient(circle, #67d6c1, #67d1bb, #7ac5aa, #bcb7fe, #f66cd9);
}

.slider-section img {
  object-fit: cover;
  }

  .slick-slider {
  margin: 0px auto;
  padding: 30px 60px;
}

.slick-slider img {
  max-width: 100%;
  max-height: 100%;
  width: 250px;
  height: 130px;
}

.slick-next {
  right: 25px;
  }
.slick-prev {
    left: 25px;
  }
.slick-prev:before, .slick-next:before {
  color: #e00986; font-size: 25px;
  }


/*to są zmiany dla urządzeń dla rozdzielczości do 767px */
@media (max-width: 767px){
header {
    height: 350px;
    }
.nav-logo {
  width: 100%;
  float: none;
  padding: 0;
  text-align: center;
  }
nav ul {
  float: none;
  background-image:
  radial-gradient(circle, #67d6c1, #67d1bb, #7ac5aa, #bcb7fe, #f66cd9);
  }
nav ul li {
  display: block;
  text-align: center;
  }
nav ul li:hover > ul {
  display: none;
  }
.contact-section {
  display: none;
  }
}
